flow.json
{
  "name": "Linkedin",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_ULANZI_IP_ADDRESS/api/custom",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "linkedin"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.followerCount }}"
            },
            {
              "name": "icon",
              "value": "25677"
            }
          ]
        },
        "options": {}
      },
      "id": "b462ee54-9f56-422a-b805-0672fbf54019",
      "name": "Send to Clock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "f5flsRTEtFfKBmkt",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "22c7fccf-37fe-4a7d-9935-92c252ecef38",
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- manually enter the number of followers ---\nconst followerCount = 213; // ← here change to current value\n\n// --- Return a single item to the next node ---\nreturn [{ json: { followerCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "727e5ac1-cc36-41ce-9ed6-6ac1d64861b6",
      "name": "Extract Follower Count"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 12 Hours": {
      "main": [
        [
          {
            "node": "Extract Follower Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Follower Count": {
      "main": [
        [
          {
            "node": "Send to Clock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed55ff7b-a256-4fcd-85ce-bd28cec79a32",
  "meta": {
    "instanceId": "629cadef26b1b8a006cfd27224275a510e3c29f1bba90d80524b0be1ee3c1f73"
  },
  "id": "hT1GIDq3ngisP8kj",
  "tags": []
}
